<h1 class="speechTitle">We the People</h1>
<span class="summary">Listen to unrecorded speeches from U.S. history as recreated by <a href="http://www.mturk.com">Mechanical Turkers</a></span>
<table cellspacing="10">
  <tr class="speechGiver">
    <th>Speaker</th>
    <th>Title</th>
    <th>Date</th>
    <th>Location</th>
    <!--
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>-->
  </tr>

<% @speeches.each do |speech| %>
  <tr>
    <td><%=link_to speech.speaker, "http://www.wikipedia.org/wiki/#{speech.speaker}" %></td>
    <td class="speechTitle"><%= link_to speech.title, speech %></td>
    <td><%= speech.date %></td>
    <td><%= speech.location %></td>
    <!--
    <td><% speech.text.each do |token| %>
            <%=token %>
        <% end %></td>
    <td><%= link_to 'Show', speech %></td>
    <td><%= link_to 'Edit', edit_speech_path(speech) %></td>
    <td><%= link_to 'Destroy', speech, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </tr>
<% end %>
</table>

<br />

<!--<%= link_to 'New Speech', new_speech_path %>-->
