<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @word.word %>
</p>

<p>
  <b>Hit:</b>
  <%= @word.hit_id %>
</p>

<p>
  <b>Url:</b>
  <%= @word.url %>
</p>

<p>
  <b>Status:</b>
  <%= @word.status %>
</p>


<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
